if SHIELD_TIDBIT

config ZMK_KEYBOARD_NAME
	default "tidbit"

config ZMK_SPLIT
	default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default n

endif

if SHIELD_LILY58_LEFT

config ZMK_KEYBOARD_NAME
	default "Lily58 Left"


config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default n

endif

if SHIELD_LILY58_RIGHT

config ZMK_KEYBOARD_NAME
	default "Lily58 Right"


endif

if SHIELD_LILY58_DONGLE

config ZMK_KEYBOARD_NAME
	default "Lily58 Dongle"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_LILY58_LEFT || SHIELD_LILY58_RIGHT || SHIELD_LILY58_DONGLE || SHIELD_TIDBIT

config ZMK_SPLIT
	default y

CONFIG_ZMK_DISPLAY=y

endif 


if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

config SSD1306_REVERSE_MODE
        default y

endif # ZMK_DISPLAY

if LVGL

config APP_LINK_WITH_LVGL
    default y

config LVGL_USE_PERF_MONITOR
    default n

config LVGL_HOR_RES_MAX
    default 128

config LVGL_VER_RES_MAX
    default 32

config LVGL_VDB_SIZE
    default 32

config LVGL_USE_DEBUG
    default y

config LVGL_DPI
    default 148

config LVGL_BITS_PER_PIXEL
    default 1

config LVGL_FONT_MONTSERRAT_8
    default n

config LVGL_FONT_UNSCII_8
    default y

choice LVGL_COLOR_DEPTH
    default LVGL_COLOR_DEPTH_1
endchoice



endif # LVGL