
if SHIELD_LILY58_LEFT

config ZMK_KEYBOARD_NAME
	default "Lily58 Left"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default n

endif

if SHIELD_LILY58_RIGHT

config ZMK_KEYBOARD_NAME
	default "Lily58 Right"

endif

if SHIELD_LILY58_DONGLE

config ZMK_KEYBOARD_NAME
	default "Lily58 Dongle"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_LILY58_LEFT || SHIELD_LILY58_RIGHT || SHIELD_LILY58_DONGLE

config ZMK_SPLIT
	default y

endif 